.gsta-slimFooter{
  padding-bottom: $spacer-sm;
}
.gsta-slimFooter__hideBorder {
    border-top: none;
  }
.gsta-slimFooter__linkDivider{
  .footer-link-item + .footer-link-item {
   a{
     border-left: 1px solid;
     border-color: $sw-border-color;
   }
  }
}
